<!-- <div class="card" style="width: 18rem;" id="ex">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->
<div class="container" id="ex">
    <p>
        <h1>Sydeny</h1>
        <hr>
        spectacularly draped around its glorious harbour and beaches, has visual wow factor like few other cities.
         <b>Scratch the surface and it only gets better.</b>
        <br> On the wild side National parks ring the city and penetrate right into its heart.
        <br> Large chunks of harbour are still bush-fringed, while parks cut their way through skyscrapers and suburbs.
        <br> After dark There's always a new restaurant to try, undercover bar to hunt down, hip band to check out, sports team
        to shout at, show to see or crazy party to attend.
        <br> Jump on a ferry and Sydney's your oyster – the harbour prises the city's two halves far enough apart to reveal an
        abundance of pearls. Brash is the word that inevitably gets bandied around when it comes to describing the Harbour
        City, and let's face it, compared to its Australian sister cities, Sydney is loud, uncompromising and in your face.
        Fireworks displays are more dazzling here, heels are higher, bodies more buffed, contact sports more brutal, starlets
        shinier, drag queens glitzier and prices higher. Australia’s best musos, foodies, actors, stockbrokers, models, writers
        and architects flock to the city to make their mark, and the effect is dazzling: a hyperenergetic, ambitious, optimistic
        and unprincipled marketplace of the soul, where anything goes and everything usually does.
    </p>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>