<!-- <div class="modal-body row">
    <div class="col-md-6">
    <button ng-click="userCtrl.logOut()" type="submit" class="btn btn-primary"  >Sign out</button>
    <h2>Popular points by categories:</h2>
            <div class="row mx-auto">
                    <div class="card random" ng-repeat="x in userCtrl.InterestPoint"  >
                    
                            <img style="width:250px; height:250px;" ng-click="navigationUrl(x.ID)"  ng-src="{{x.Ref}}" >
                       <div class="text">{{x.PointName}}</div>
                    </div>
                </div>
    </div>
    <div class="col-md-6">
        second query
  </div> -->

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mt-4">Popular points</h1>
        </div>
    </div>
<hr>
    <div class="row">
        <!-- Title -->
        <div class="col-md-6">
        <div class="col-lg-4 col-md-4 col-xs-4 thumb" ng-repeat="x in userCtrl.LastSaved">
                <img style="width:250px; height:250px;" ng-click="navigationUrl(x.ID)" ng-src="{{x.ref}}"> 
            <div class="text">{{x.PointName}}</div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="col-lg-4 col-md-4 col-xs-4 thumb" ng-repeat="x in userCtrl.InterestPoint">
            <img style="width:250px; height:250px;" ng-click="navigationUrl(x.ID)" ng-src="{{x.Ref}}"> 
        <div class="text">{{x.PointName}}</div>
    </div>
    </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Popular points</h5>
                <div class="card-body">
                        The two most popular POIs according to the categories selected when registering.<br>
                        Click on the image to see more details!
                </div>
                <button ng-click="userCtrl.logOut()" type="submit" class="btn btn-primary">Sign out</button>
            </div>

        </div>

    </div>
    <hr>

</div>
<!-- /.container -->