html,body{
    background-image: url('https://image.freepik.com/vector-gratis/diseno-de-fondo-abstracto-azul-de-acuarela_1035-8469.jpg');
}
img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70); 
}
