<div class="container">
    <form name="myform">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputUsarNm">Please enter your user name:</label>
                <input type="text" class="form-control" name="inputUsarNm" placeholder="User Name" ng-model="passRestoreCtrl.username" ng-required="true">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" ng-disabled="myform.inputUsarNm.$invalid" ng-click="passRestoreCtrl.getQuestions()">Get my questions</button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputQ1">Verification questions:</label>
                <input class="form-control" type="text" placeholder="Question 1" ng-model="passRestoreCtrl.questions[0].Question" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAns1">Answers:</label>
                <input type="text" class="form-control" name="inputAns1" ng-required="true" ng-model="passRestoreCtrl.answers.answer1" placeholder="Fill on your answer">
                <span class="help-block" ng-show="myform.inputAns1.$invalid && myform.inputAns1.$touched">
                        Your answer is required.
                    </span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input class="form-control" type="text" placeholder="Question 2" ng-model="passRestoreCtrl.questions[1].Question" readonly>
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="inputAns2" ng-required="true" ng-model="passRestoreCtrl.answers.answer2" 
                placeholder="Fill on your answer">
                <span class="help-block" ng-show="myform.inputAns2.$invalid && myform.inputAns2.$touched">
                    Your answer is required.
                </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" ng-click="passRestoreCtrl.sendAnswers()">Submit</button>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label">Password:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Secret" ng-model="passRestoreCtrl.password" readonly>
            </div>
        </div>
    </form>
      <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Error massage</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{passRestoreCtrl.message}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>